{% if sidebar__content_below %}
  <div class="cell">
    <div class="l-sidebar--content_below">
      <div class="grid-x grid-margin-y grid-margin-x">
        {{sidebar__content_below}}
      </div>
    </div>
  </div>
{% endif %}
