@use "@components/youtube-embed";

.wp-embed-responsive .wp-has-aspect-ratio youtube-embed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 0;
}
