@use '~@/components/typography' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading;

  --block-gutter-start: var(--gds-heading-margin-start);
  --block-gutter-end: var(--gds-heading-margin-end);
}

h1 {
  @include heading-l;
}

h2 {
  @include heading-m;
}

h3,
h4,
h5,
h6 {
  @include heading-s;
}
