@use 'common/breakpoints' as *;

.wp-block-group {
  position: relative;
}

.wp-block-group.has-background {
  padding: var(--block-gutter) var(--grid-gutter);

  @include mq($from: medium) {
    padding: var(--block-gutter);
  }

  &:not(:first-child) {
    margin-top: var(--block-gutter);
  }

  &:not(:last-child) {
    margin-bottom: var(--block-gutter);
  }

  // Increase vertical spacing between
  &.alignwide,
  &.alignfull {
    margin-top: var(--block-gutter-l);
    margin-bottom: var(--block-gutter-l);
    padding-top: var(--block-gutter-l);
    padding-bottom: var(--block-gutter-l);
  }
}
