@use 'common/breakpoints' as *;

.wp-block-media-text {
  --media-text-gutter: var(--viewport-gutter);

  @media (min-width: 600px) {
    --media-text-gutter: var(--grid-column-1);
  }

  & &__content {
    padding: var(--media-text-gutter);
  }

  // Remove the outer gutter since there's a viewport gutter
  &:not(.alignfull):not(.has-background) {
    @media (max-width: 600px) {
      .wp-block-media-text__content {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.has-media-on-the-right .wp-block-media-text__content {
      padding-left: 0;
    }

    &:not(.has-media-on-the-right) .wp-block-media-text__content {
      padding-right: 0;
    }
  }
}
