.wp-block-quote {
  border-left: 0;
  padding-left: 0;
}

.wp-block-quote cite {
  line-height: var(--gds-heading-line-height);
  font-family: var(--gds-heading-font-family);
  color: var(--gds-heading-color);
  font-size: 20px;
}
