@use '~genero-design-system/src/components/gds-heading' as heading;
@use '~genero-design-system/src/components/gds-paragraph' as paragraph;

/**
 * Block editor background colors.
 */

@each $name in $color-names {
  .has-#{$name}-background-color {
    --block-color: var(--color-black);
    --block-background: var(--wp--preset--color--#{$name});

    background-color: var(--block-background) !important;
    color: var(--block-color);
  }
}

.has-ui-03-background-color,
.has-ui-04-background-color,
.has-ui-05-background-color,
.has-ui-07-background-color {
  --block-color: var(--color-white);
}

/**
 * Block editor text colors.
 */
@each $name in $color-names {
  .has-#{$name}-color {
    --block-color: var(--wp--preset--color--#{$name});

    color: var(--block-color) !important;
  }
}

/**
 * Block editor font sizes.
 */

.has-heavy-heading-font-size {
  // @todo move to gds and figure out proper naming/state
  @include heading.base;

  font-size: 62px;
  line-height: 67px;
  font-weight: 800;
  letter-spacing: 0;
  text-transform: uppercase;
}

.has-light-heading-font-size {
  // @todo move to gds and figure out proper naming/state
  @include heading.base;

  color: var(--color-ui-01);
  font-size: 19px;
  line-height: 23px;
  font-weight: 500; // @todo XD looks lighter
  letter-spacing: 3px;
  text-transform: uppercase;
}

.has-xxl-heading-font-size {
  @include heading.size-xxl;
}

.has-xl-heading-font-size {
  @include heading.size-xl;
}

.has-l-heading-font-size {
  @include heading.size-l;
}

.has-m-heading-font-size {
  @include heading.size-m;
}

.has-s-heading-font-size {
  @include heading.size-s;
}

.has-l-paragraph-font-size {
  @include paragraph.size-l;
}

.has-m-paragraph-font-size {
  @include paragraph.size-m;
}

.has-s-paragraph-font-size {
  @include paragraph.size-s;
}
