[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  appearance: none;
  box-sizing: border-box;
  background: var(--color-white);
  border: solid 1px var(--color-light-gray);
  padding: 7px;
  width: 100%;

  &:focus {
    border-color: var(--color-blue);
    outline: none;
  }
}

select {
  appearance: none;
  box-sizing: border-box;
  background: var(--color-white);
  border: solid 1px var(--color-light-gray);
  padding: 11px 14px;
  width: 100%;
  min-width: 200px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/chevron-down-solid.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 14px) center;
  background-size: 1em;

  &:focus {
    border-color: var(--color-blue);
    outline: none;
  }
}

[type="submit"] {
  appearance: none;
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-transform: uppercase;
  background-color: var(--button-background, var(--color-blue));
  color: var(--button-color, var(--color-white));
  padding: var(--button-padding);
  border: 0;
  cursor: pointer;
}
