@use 'config';

.wp-block-buttons {
  margin-bottom: calc(var(--gds-spacing-s) * -1);
}

.wp-block-buttons .wp-block-button {
  margin-bottom: var(--gds-spacing-s);
  margin-right: var(--gds-spacing-s);
}

@if config.$is-editor {
  // Some Gutenberg bug
  .wp-block[data-align="center"] > .wp-block-buttons .block-editor-block-list__layout {
    text-align: center;
  }
}
