@use 'config';

.wp-block-cover {
  box-sizing: border-box;
  color: var(--gds-color-white);

  .wp-block-cover__inner-container {
    // Override Gutenberg weirdness
    color: inherit;
  }

  @media (min-width: #{config.$alignfull-max-width}) {
    min-height: 600px !important;
  }
}
