.swiper-container {
  --swiper-theme-color: var(--color-black);
  --swiper-pagination-color: var(--color-black);
  --swiper-inactive-opacity: 0.5;
  --swiper-pagination-size: 10px;
  --swiper-pagination-gutter: 20px;
  --swiper-button-size: 32px;
}

.wp-block.swiper-slide {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

.swiper-container.has-arrows-outside {
  @include mq($from: large) {
    .swiper-slide {
      padding-left: 5rem;
      padding-right: 5rem;
      box-sizing: border-box;
    }
  }

  .swiper-pagination {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
    position: relative;
  }
}

.swiper-pagination {
  // By default show on mobile but not tablet
  @include mq($from: large) {
    display: none;
  }

  .has-pagination & {
    display: block;
  }
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }

  display: none;

  @include mq($from: large) {
    display: block;
  }

  .svg-inline--fa {
    font-size: var(--swiper-button-size);
  }
}

.swiper-button-prev {
  left: var(--spacing-m);
}

.swiper-button-next {
  right: var(--spacing-m);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-size);
  height: var(--swiper-pagination-size);
  opacity: var(--swiper-inactive-opacity);
  background: var(--swiper-pagination-color);

  &-active {
    opacity: 1;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: var(--spacing-m);

  .swiper-pagination-bullet {
    margin: 0 calc(var(--swiper-pagination-gutter) / 2);
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: var(--swiper-inactive-opacity);
}
