@mixin card {
  border-radius: var(--gds-border-radius);
  box-shadow: var(--gds-box-shadow);
  background-color: var(--gds-color-white);
  transition: box-shadow 0.2s ease-out;
}

@mixin media {
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  margin-bottom: 0;

  img {
    width: 100%;
    height: auto;
  }
}

@mixin content {
  padding: 24px;
}

@mixin on-hover {
  box-shadow: var(--gds-box-shadow--hover);
}
