DB_HOST='localhost'
DB_NAME='wordpress'
DB_USER='wordpress'
DB_PASSWORD='wordpress'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://<example-project>.test'
WP_SITEURL='${WP_HOME}/wp'
# Uncomment for multisite installations.
# DOMAIN_CURRENT_SITE='<example-project>.test'

# Run Cron as a crontab
DISABLE_WP_CRON=true

WPMS_MAILER='mail'
# WPMS_SMTP_HOST='localhost'
# WPMS_SMTP_PORT='465'
# WPMS_SSL='ssl'
# WPMS_SMTP_AUTH=false

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
