// Call to Action
// ---------------------------------------------------------------------------
.cta_button {
  @extend %u-button;
}

// Forms
// ---------------------------------------------------------------------------
.hs-form {
  // Be specific to override HubSpot.
  .hs-button,
  input.hs-button.large {
    @extend %u-button;
  }

  fieldset {
    max-width: none !important;
    // Make room for the gutter on .input
    margin-right: -$form-spacing !important;
  }

  // Move field description below field.
  .hs-form-field {
    display: flex;
    flex-direction: column;

    .hs-field-desc {
      @extend .help-text;

      // Remove field margin and move it below description.
      margin-bottom: $form-spacing;
      order: 3;
    }
  }

  // Hide the required symbol if there's no label.
  span:empty + .hs-form-required {
    display: none;
  }

  // Expand all input fields.
  .hs-input {
    width: 100% !important;

    &[type="checkbox"],
    &[type="radio"] {
      width: auto !important;
    }
  }

  // HubSpot sets this to 1/3 - gutter.
  .form-columns-3 .hs-form-field {
    @include breakpoint(401px) {
      width: 33.32% !important;
    }
  }

  // Normalize the gutter in multicolumn layouts.
  .input {
    margin-right: $form-spacing !important;
  }

  // Checkbox, radio lists.
  .inputs-list {
    list-style-type: none;
    margin-left: 0;
  }

  .hs-input.error {
    @include form-input-error;
  }

  .hs-error-msgs {
    @include form-error;

    margin-right: $form-spacing !important;
    margin-left: 0;

    label {
      display: inline;
      color: inherit;
      position: static; // reset .has-float-labels.
      padding: 0;
    }
  }
}
