/**
 * https://matejkustec.github.io/SpinThatShit/
 * Loaders that work in a pseudo selector: 02, 03, 05, 07, 08, 12.
 * Loaders that avoid box-shadow: 01, 02, 03, 04, 05, 06.
 * Loaders that intersect the above: 02, 03, 05.
 */
.spinner {
  &::before {
    @include loader02();

    content: '';
    display: block;
    left: 50%;
    margin-left: -1 * ($loader-size/2);
    position: absolute;
  }

  &[disabled] {
    cursor: default;
    opacity: 1;
  }

  &.button::before {
    opacity: 1;
    position: relative;
    left: 0;
    margin-left: 0.5em;
    border-width: 0.2em;
    border-color: rgba(0, 0, 0, 0.33);
    border-right-color: transparent;
    margin-top: 0.1em;
    width: 0.9em;
    height: 0.9em;
    float: right;
  }
}
