:root {
  --gds-button-color: var(--gds-color-white);
  --gds-button-background-color: var(--gds-color-primary);
  --gds-button-s-font-size: 14px;
  --gds-button-m-font-size: 16px;
  --gds-button-l-font-size: 18px;
}

@mixin button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: var(--gds-button-color, inherit);
  background-color: var(--gds-button-background-color, inherit);
  font-family: inherit;
  font-weight: 600;
  line-height: 1;
  font-size: 1em;
  border: none;
  border-radius: 2.5em;
  padding: 1.3em 2.5em;
  z-index: 1;

  @media (prefers-reduced-motion: no-preference) {
    &,
    &::before {
      transition: all 0.1s ease-out;
    }
  }

  // Overlay used to fade out the button background
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    border-radius: inherit;
  }

  &:hover::before {
    background-color: rgba(255 255 255 / 20%);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px rgba(0 0 0 / 80%);
  }

  &:active::before {
    background-color: rgba(0 0 0 / 20%);
  }

  &[disabled],
  .is-disabled > & {
    background-color: var(--gds-color-light-gray);
    cursor: pointer;
    pointer-events: none;
    color: var(--gds-color-mid-gray);
  }
}

@mixin size-s {
  font-size: var(--gds-button-s-font-size);
  padding: 0.9em 2.5em;
}

@mixin size-m {
  font-size: var(--gds-button-m-font-size);
}

@mixin size-l {
  font-size: var(--gds-button-l-font-size);
}

@mixin outline {
  box-shadow: inset 0 0 0 1px currentColor;
  background-color: transparent;
  color: currentColor;

  &:hover {
    box-shadow: inset 0 0 0 2px rgba(0 0 0 / 100%);
  }
}
