@use "@/common/breakpoints" as *;
@use "@/components/typography" as type;
@use "@/components/button" as button;

.cookie-consent {
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px;

  &__cookies {
    display: none;

    &.is-active {
      display: block;
    }
  }

  gds-accordion {
    margin-block-start: 0;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  gds-accordion-item {
    [slot="label"] {
      display: flex;
      gap: 12px;
      margin-bottom: 0;
    }

    &::part(header):focus-visible {
      outline: solid 2px var(--gds-color-black);
    }

    [slot="icon"] {
      transition: transform 0.2s ease-out;
    }

    &[expanded] [slot="icon"] {
      transform: rotate(180deg);
    }

    &::part(content) {
      margin-bottom: 16px;

      @include type.body-s;
    }
  }

  @include mq($until: medium) {
    padding: 0;

    &::part(dialog) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & &__buttons {
      .wp-block-button__link.wp-block-button__link {
        @include button.size-s;
      }
    }
  }

  #accept-selected-button:not(.is-active) {
    display: none;
  }

  #accept-selected-button.is-active + div {
    display: none;
  }
}
