@use "@/common/breakpoints" as *;

.entry {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "sidebar";
  row-gap: var(--block-gutter-l);

  @include mq($from: medium) {
    grid-template-areas:
      "header  sidebar"
      "content sidebar";
    grid-template-columns: 1fr var(--grid-column-3);
    grid-template-rows: auto 1fr;
    column-gap: var(--grid-gutter);
    row-gap: 0;
  }

  @include mq($from: xlarge) {
    column-gap: calc(var(--grid-column-1) + var(--grid-gutter) * 2);
  }

  &__header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__related {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__content {
    grid-area: content;
  }
}
