@use "@/common/breakpoints" as *;

@include mq($until: desktopmenu) {
  .language-menu {
    &__toggle {
      display: none;
    }

    &__menu {
      display: flex;
      gap: 24px;
    }

    &__link {
      text-decoration: none;
      color: var(--gds-color-dark-gray);

      &.is-active {
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 2px;
      }
    }
  }
}

@include mq($from: desktopmenu) {
  .language-menu {
    position: relative;

    &__toggle {
      padding: 8px;
      display: flex;
      align-items: center;

      &__icon {
        font-size: 12px;
        padding: 4px;

        .language-menu:hover &,
        [aria-expanded="true"] > & {
          transform: rotate(180deg);
        }
      }
    }

    &__link {
      text-decoration: none;
      padding: 16px 24px;

      &:hover {
        color: var(--gds-color-primary);
      }

      &.is-active {
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 2px;
      }
    }

    &__menu {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: var(--gds-color-white);
      z-index: 10;
      top: 100%;
      box-shadow: var(--gds-box-shadow);
      border-radius: var(--gds-border-radius);
      min-width: 100px;
      margin-left: -8px;

      .language-menu:hover > &,
      .language-menu__toggle[aria-expanded="true"] ~ & {
        display: flex;
      }

      .language-menu__link {
        padding: 8px 16px;
      }
    }
  }
}
