@use '../common/breakpoints' as *;
@forward 'variables' with ($is-editor: false !default);

@critical {
  :root {
    // Colors
    --gds-color-white: #fff;
    --gds-color-black: #333031;
    --gds-color-ui-background-01: #eee;
    --gds-color-ui-background-02: rgb(238 238 238 / 50%);
    --gds-color-ui-01: #acacac;
    --gds-color-ui-02: #646464;
    --gds-color-ui-03: #00a06e;
    --gds-color-ui-04: #00a3b7;
    --gds-color-ui-05: #f1615e;
    --gds-color-ui-06: #ffdcdd;
    --gds-color-ui-07: #9185db;
    --gradient-01: linear-gradient(var(--gds-color-white), var(--gds-color-black));

    // Present content widths
    --content-width: 800px;
    --alignwide-width: 1200px;
    --alignfull-width: 2000px;

    // Gutters
    --gutter: var(--gds-spacing-m);

    // Gutter between blocks
    --block-gutter-s: 24px;
    --block-gutter: 40px;
    --block-gutter-l: 40px;

    @include mq($from: medium) {
      --block-gutter-l: 80px;
    }

    // Custom gutter for the footer
    --footer-gutter: 185px;

    // Grid gutters
    --grid-gutter: 12px;
    --grid-column: 78px;

    // @todo mobile
    @for $i from 1 through 12 {
      --grid-column-#{$i}: calc(var(--grid-column) * #{$i} + var(--grid-gutter) * (#{$i} - 1));
    }

    // @todo we should use `size-column` below instead.
    @include mq($from: medium) {
      --grid-gutter: 24px;
      --grid-column: 78px;

      @for $i from 1 through 12 {
        --grid-column-#{$i}: calc(var(--grid-column) * #{$i} + var(--grid-gutter) * (#{$i} - 1));
      }
    }

    --viewport-gutter: 15px;
    --content-width: var(--grid-column-8);
    --alignwide-width: var(--grid-column-12);
    --alignfull-width: unset; // @note sass variable needs to be updated

    /**
     * GDS variable overrides.
     */
    // Sizes (columns plus in-between gutters)
    --size-column: 78px;
    --size-col-1: var(--size-column);
    --size-col-2: calc(var(--size-column) * 2 + var(--gutter));
    --size-col-3: calc(var(--size-column) * 3 + var(--gutter) * 2);
    --size-col-4: calc(var(--size-column) * 4 + var(--gutter) * 3);
    --size-col-5: calc(var(--size-column) * 5 + var(--gutter) * 4);

    // Card
    --gds-card-width: 100%;

    // Media Card
    --gds-media-card-media-height: calc(371 / 486 * 100%);

    // Typography
    --gds-heading-color: inherit;
    --gds-heading-line-height: 1;
    --gds-heading-font-family: gilroy, arial, helvetica, sans-serif;
    --gds-body-font-family: gilroy, arial, helvetica, sans-serif;
    --gds-body-font-size: 17px;
    --gds-body-line-height: 1.588235294;
  }
}
