{#
 # Template for outputing Gravityforms through wp-gravityforms-timber.
 #
 # @example
 # {% include 'forms/form--horizontal.twig' with {
 #   form: gform(1),
 #   form_title: __('Sign up for our newsletter', '<example-project>')
 # } %}
 #}
{% extends 'forms/form.twig' %}

{% import 'macros/form.twig' as helper %}

{# Output the fields in a horizontal stack #}
{% block form__content %}
  <div class="form__messages alert callout is-hidden"></div>

  <div class="input-group">
    {% for field in form.fields %}
      <div class="input-group-field form__element">
        {% block form__field_label parent() %}
        {% block form__field_input helper.gform_field(field) %}
        {% block form__field_description parent() %}
      </div>
    {% endfor %}
    <div class="input-group-button">
      {% block form__submit parent() %}
    </div>
  </div>
{% endblock %}
