.wp-block-gds-page-title {
  // If first block on page is alignwide, make the heading alignwide too
  .is-root-container > &:has(+ .alignwide) {
    max-width: var(--alignwide-width);
    margin-left: auto;
    margin-right: auto;
  }
}
