@use "components/typography" as *;

body {
  @include body;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.admin-bar {
    --admin-bar-height: 32px;

    @media screen and (max-width: 782px) {
      --admin-bar-height: 46px;
    }
  }

  @supports not (height: 100dvh) {
    --app-height: calc(100vh - var(--admin-bar-height, 0px));
  }

  @supports (height: 100dvh) {
    --app-height: calc(100dvh - var(--admin-bar-height, 0px));
  }
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;

  > .container {
    flex: 1 0 auto;
  }
}

// Avoid FOUC
.fa,
.fal,
.far {
  display: inline-block;
  width: 1em;
  height: 1em;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus-visible {
    outline: var(--gds-focus-outline);
  }
}

p a,
li > a {
  text-decoration: underline;
  font-weight: 700;

  &:hover {
    color: var(--gds-link-hover-color);

    .has-background:not(.has-white-background-color) & {
      color: var(--gds-color-mid-gray);
    }
  }
}

ul,
ol {
  box-sizing: border-box;
  padding-left: 16px;

  &:first-child {
    margin-block-start: 0;
  }
}

ul {
  list-style-type: disc;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}
