$fa-var-search: "\e800";
$fa-var-mail: "\e801";
$fa-var-heart: "\e802";
$fa-var-heart-empty: "\e803";
$fa-var-star: "\e804";
$fa-var-star-empty: "\e805";
$fa-var-star-half: "\e806";
$fa-var-users: "\e807";
$fa-var-check: "\e808";
$fa-var-play-circled2: "\e809";
$fa-var-pause: "\e80a";
$fa-var-stop: "\e80b";
$fa-var-play: "\e80c";
$fa-var-up-open: "\e80d";
$fa-var-right-open: "\e80e";
$fa-var-left-open: "\e80f";
$fa-var-down-open: "\e810";
$fa-var-right-dir: "\e811";
$fa-var-left-dir: "\e812";
$fa-var-up-dir: "\e813";
$fa-var-down-dir: "\e814";
$fa-var-down-big: "\e815";
$fa-var-left-big: "\e816";
$fa-var-right-big: "\e817";
$fa-var-up-big: "\e818";
$fa-var-zoom-out: "\e819";
$fa-var-zoom-in: "\e81a";
$fa-var-doc: "\e81b";
$fa-var-location: "\e81c";
$fa-var-attention-circled: "\e81d";
$fa-var-attention: "\e81e";
$fa-var-chat: "\e81f";
$fa-var-comment: "\e820";
$fa-var-export: "\e821";
$fa-var-tags: "\e822";
$fa-var-bookmark: "\e823";
$fa-var-flag: "\e824";
$fa-var-thumbs-down: "\e825";
$fa-var-thumbs-up: "\e826";
$fa-var-download: "\e827";
$fa-var-upload: "\e828";
$fa-var-forward: "\e829";
$fa-var-tag: "\e82a";
$fa-var-lock: "\e82b";
$fa-var-lock-open: "\e82c";
$fa-var-home: "\e82d";
$fa-var-info-circled: "\e82e";
$fa-var-help-circled: "\e82f";
$fa-var-minus-circled: "\e830";
$fa-var-minus: "\e831";
$fa-var-plus-circled: "\e832";
$fa-var-plus: "\e833";
$fa-var-cancel-circled2: "\e834";
$fa-var-cancel-circled: "\e835";
$fa-var-cancel: "\e836";
$fa-var-ok-circled2: "\e837";
$fa-var-ok-circled: "\e838";
$fa-var-ok: "\e839";
$fa-var-user: "\e83a";
$fa-var-clock: "\e83b";
$fa-var-basket: "\e83c";
$fa-var-check-empty: "\f096";
$fa-var-bookmark-empty: "\f097";
$fa-var-twitter: "\f099";
$fa-var-facebook: "\f09a";
$fa-var-rss: "\f09e";
$fa-var-left-circled: "\f0a8";
$fa-var-right-circled: "\f0a9";
$fa-var-up-circled: "\f0aa";
$fa-var-down-circled: "\f0ab";
$fa-var-pinterest-circled: "\f0d2";
$fa-var-pinterest-squared: "\f0d3";
$fa-var-gplus-squared: "\f0d4";
$fa-var-gplus: "\f0d5";
$fa-var-mail-alt: "\f0e0";
$fa-var-linkedin: "\f0e1";
$fa-var-comment-empty: "\f0e5";
$fa-var-chat-empty: "\f0e6";
$fa-var-download-cloud: "\f0ed";
$fa-var-upload-cloud: "\f0ee";
$fa-var-doc-text: "\f0f6";
$fa-var-plus-squared: "\f0fe";
$fa-var-angle-double-left: "\f100";
$fa-var-angle-double-right: "\f101";
$fa-var-angle-double-up: "\f102";
$fa-var-angle-double-down: "\f103";
$fa-var-angle-left: "\f104";
$fa-var-angle-right: "\f105";
$fa-var-angle-up: "\f106";
$fa-var-angle-down: "\f107";
$fa-var-circle-empty: "\f10c";
$fa-var-circle: "\f111";
$fa-var-reply: "\f112";
$fa-var-flag-empty: "\f11d";
$fa-var-reply-all: "\f122";
$fa-var-star-half-alt: "\f123";
$fa-var-help: "\f128";
$fa-var-info: "\f129";
$fa-var-attention-alt: "\f12a";
$fa-var-angle-circled-left: "\f137";
$fa-var-angle-circled-right: "\f138";
$fa-var-angle-circled-up: "\f139";
$fa-var-angle-circled-down: "\f13a";
$fa-var-lock-open-alt: "\f13e";
$fa-var-ellipsis: "\f141";
$fa-var-ellipsis-vert: "\f142";
$fa-var-rss-squared: "\f143";
$fa-var-play-circled: "\f144";
$fa-var-minus-squared: "\f146";
$fa-var-minus-squared-alt: "\f147";
$fa-var-ok-squared: "\f14a";
$fa-var-export-alt: "\f14d";
$fa-var-doc-inv: "\f15b";
$fa-var-doc-text-inv: "\f15c";
$fa-var-thumbs-up-alt: "\f164";
$fa-var-thumbs-down-alt: "\f165";
$fa-var-youtube-squared: "\f166";
$fa-var-youtube: "\f167";
$fa-var-youtube-play: "\f16a";
$fa-var-instagram: "\f16d";
$fa-var-flickr: "\f16e";
$fa-var-tumblr: "\f173";
$fa-var-down: "\f175";
$fa-var-up: "\f176";
$fa-var-left: "\f177";
$fa-var-right: "\f178";
$fa-var-skype: "\f17e";
$fa-var-gittip: "\f184";
$fa-var-dot-circled: "\f192";
$fa-var-vimeo-squared: "\f194";
$fa-var-plus-squared-alt: "\f196";
$fa-var-mail-squared: "\f199";
$fa-var-google: "\f1a0";
$fa-var-circle-notch: "\f1ce";
$fa-var-wechat: "\f1d7";
$fa-var-circle-thin: "\f1db";
$fa-var-share: "\f1e0";
$fa-var-share-squared: "\f1e1";
$fa-var-toggle-off: "\f204";
$fa-var-toggle-on: "\f205";
$fa-var-cart-plus: "\f217";
$fa-var-cart-arrow-down: "\f218";
$fa-var-facebook-official: "\f230";
$fa-var-pinterest: "\f231";
$fa-var-whatsapp: "\f232";
$fa-var-television: "\f26c";
$fa-var-map-pin: "\f276";
$fa-var-map-o: "\f278";
$fa-var-map: "\f279";
$fa-var-commenting: "\f27a";
$fa-var-user-circle: "\f2bd";
$fa-var-user-circle-o: "\f2be";
$fa-var-user-o: "\f2c0";
$fa-var-twitter-squared: "\f304";
$fa-var-facebook-squared: "\f308";
$fa-var-linkedin-squared: "\f30c";
$fontello-build-version: "3a38973a40";
