/**
 * Styles in this file wont be prefixed with .editor-styles-wrapper unlike editor.scss
 */

@use "config" with ($is-editor: true);
@use "components/colors";
@use "~@fortawesome/fontawesome-pro/css/all";

p {
  font-size: unset;
  line-height: unset;
  margin: unset;
}

h1,
h2,
h3 {
  color: unset;
}
