<div class="grid-x grid-margin-x grid-margin-y">
  {% if title %}
    <div class="cell small-4">
      <label class="text-right middle">{{title}}</label>
    </div>
  {% endif %}
  <div class="cell auto">
    {{facetwp_display(facet_type ?: 'facet', facet_name)}}
  </div>
</div>
