/**
 * Background colors can be both extended for specific components or user
 * configurable.
 * @example
 * <div class="section u-bg--primary"></div>
 * .contact-form { @extend %u-bg--secondary; }
 */
$c-background-palette: (
  "primary":   (color: $white, background: get-color(primary), button: secondary),
  "secondary": (color: $white, background: get-color(secondary)),
  "white":     (color: $black, background: $white, anchor-decoration: underline),
  "black":     (color: $white, background: $black, anchor-decoration: underline),
) !default;

@each $name, $defs in $c-background-palette {
  %u-bg--#{$name} {
    @if map-has-key($defs, background) {
      background-color: map-get($defs, background);
    }

    @if map-has-key($defs, color) {
      color: map-get($defs, color);
    }

    @if map-has-key($defs, anchor) {
      a { color: map-get($defs, anchor); }
    } @else {
      @extend %u-color-inherit;
    }

    @if map-has-key($defs, anchor-decoration) {
      a { text-decoration: map-get($defs, anchor-decoration); }
    }

    @if map-has-key($defs, button) {
      .button {
        @extend .button--#{map-get($defs, button)};
      }
    }

    @if map-has-key($defs, anchor-hover) {
      a:hover,
      a:focus {
        color: map-get($defs, anchor-hover);

        @if map-has-key($defs, anchor-hover-decoration) {
          text-decoration: map-get($defs, anchor-hover-decoration);
        }
      }
    }
  }

  .u-bg--#{$name} {
    @extend %u-bg--#{$name};
  }
}
