/**
 * Responsive spacing placeholders. Spacing should be component specific, and
 * not user definable. Therefore it's only available as placeholders rather
 * than classes.
 * @example
 * .section__content { @extend %u-spacing-section--vertical; }
 */

$c-spacings: (
  section: (
    small:  rem-calc(30) rem-calc(10),
    medium: 5vw rem-calc(40),
    large:  7vw,
  ),
  gutter: $grid-margin-gutters,
) !default;

/**
 * Add a responsive spacing defined in the $spacings variable.
 */
@mixin spacing(
  $type,
  $side: all,
  $property: padding,
  $multiplier: 1
) {
  @each $size, $spacing in map-get($c-spacings, $type) {
    @include breakpoint($size) {
      @if ($side == all) {
        $values: ();

        @each $value in $spacing {
          $values: append($values, $multiplier * $value);
        }

        #{$property}: $values;
      } @else if ($side == vertical) {
        #{$property}-top: $multiplier * get-side($spacing, top);
        #{$property}-bottom: $multiplier * get-side($spacing, bottom);
      } @else if ($side == horizontal) {
        #{$property}-left: $multiplier * get-side($spacing, left);
        #{$property}-right: $multiplier * get-side($spacing, right);
      } @else {
        #{$property}-#{$side}: $multiplier * get-side($spacing, $side);
      }
    }
  }
}

/**
 * Negate a responsive spacing.
 */
@mixin negate-spacing(
  $type,
  $side: all,
  $property: padding,
  $multiplier: -1
) {
  @include spacing($type, $side, $property, $multiplier);
}

@each $name, $breakpoints in $c-spacings {
  %u-spacing-#{$name}--top { @include spacing($name, top); }
  %u-spacing-#{$name}--bottom { @include spacing($name, bottom); }
  %u-spacing-#{$name}--left { @include spacing($name, left); }
  %u-spacing-#{$name}--right { @include spacing($name, right); }
  %u-spacing-#{$name}--vertical { @include spacing($name, vertical); }
  %u-spacing-#{$name}--horizontal { @include spacing($name, horizontal); }
  %u-spacing-#{$name} { @include spacing($name, all); }
}

@each $side in top, bottom, left, right {
  %u-no-spacing--#{$side} {
    padding-#{$side}: 0;
  }
}

%u-no-spacing--vertical {
  padding-top: 0;
  padding-bottom: 0;
}

%u-no-spacing--horizontal {
  padding-left: 0;
  padding-right: 0;
}

%u-no-spacing {
  padding: 0;
}
