@import url('//hello.myfonts.net/count/33fdc1');

$fonts-dir: '/app/themes/wp-gds-theme/dist/fonts/gilroy';

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: url('#{$fonts-dir}/33FDC1_1_0.eot');
  src:
    url('#{$fonts-dir}/33FDC1_2_0.eot?#iefix&v=1.0') format("embedded-opentype"),
    url('#{$fonts-dir}/33FDC1_2_0.woff2') format("woff2"),
    url('#{$fonts-dir}/33FDC1_2_0.woff') format("woff"),
    url('#{$fonts-dir}/33FDC1_2_0.ttf') format("truetype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url('#{$fonts-dir}/33FDC1_1_0.eot');
  src:
    url('#{$fonts-dir}/33FDC1_1_0.eot?#iefix&v=1.0') format("embedded-opentype"),
    url('#{$fonts-dir}/33FDC1_1_0.woff2') format("woff2"),
    url('#{$fonts-dir}/33FDC1_1_0.woff') format("woff"),
    url('#{$fonts-dir}/33FDC1_1_0.ttf') format("truetype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  src: url('#{$fonts-dir}/33FDC1_9_0.eot');
  src:
    url('#{$fonts-dir}/33FDC1_9_0.eot?#iefix&v=1.0') format("embedded-opentype"),
    url('#{$fonts-dir}/33FDC1_9_0.woff2') format("woff2"),
    url('#{$fonts-dir}/33FDC1_9_0.woff') format("woff"),
    url('#{$fonts-dir}/33FDC1_9_0.ttf') format("truetype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  src: url('#{$fonts-dir}/33FDC1_7_0.eot');
  src:
    url('#{$fonts-dir}/33FDC1_7_0.eot?#iefix&v=1.0') format("embedded-opentype"),
    url('#{$fonts-dir}/33FDC1_7_0.woff2') format("woff2"),
    url('#{$fonts-dir}/33FDC1_7_0.woff') format("woff"),
    url('#{$fonts-dir}/33FDC1_7_0.ttf') format("truetype");
}
