body {
  font-family: var(--gds-body-font-family);
  font-size: var(--gds-body-font-size);
  line-height: var(--gds-body-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  box-sizing: border-box;
  padding-left: var(--grid-gutter);

  &:first-child {
    margin-block-start: 0;
  }
}

ul {
  list-style-type: disc;
}

// Provide a default gutter on forms which in case used outside the block
// editor, as if it was a basic element.
.gform_wrapper {
  margin-block-start: var(--gds-spacing-m);
  margin-block-end: var(--gds-spacing-m);
}
