{% extends 'parts/post__comments.twig' %}

{% block comments %}
  <section class="page__comments comments--{{template_type}} comments--type-{{post.post_type}}" id="comments">
    {% if post.comments|length %}
      {% block comments__listing_loop parent() %}
    {% else %}
      <p>{{__('There are no reviews yet.', 'woocommerce')}}</p>
    {% endif %}

    {% block comments__form %}
      <div class="page__comments_form">
        {{post.review_form}}
      </div>
    {% endblock %}
  </section>
{% endblock %}
