{% block comments %}
  {% if post.comments|length %}
    <section class="page__comments comments--{{template_type}} comments--type-{{post.post_type}}" id="comments">
      {% block comments__form %}
        <div class="page__comments_form">
          {# @see https://codex.wordpress.org/Function_Reference/comment_form #}
          {# @see https://github.com/mgmartel/timber-foundation/blob/master/views/partials/comments.twig #}
          {{post.comment_form({'title_reply_before': '<h3 class="page__comments_title">', 'class_submit': 'submit button button--primary'})}}
        </div>
      {% endblock %}
      {% block comments__listing %}
        {% if post.comments|length %}
          <h3 class="page__comments_listing_title">{{__('Comments', '<example-project>')}}</h3>
          {% block comments__listing_loop %}
            <div class="page__comments_listing grid-x grid-margin-y">
              {% for cmt in post.comments %}
                <div class="page__comment cell">
                  {% include ['parts/comment--'~post.post_type~'.twig', 'parts/comment.twig'] with { comment: cmt } %}
                </div>
              {% endfor %}
            </div>
          {% endblock %}
        {% endif %}
      {% endblock %}
    </section>
  {% endif %}
{% endblock %}
