@use 'config' with (
  $is-editor: true
);
@use 'config/variables';
@use 'common/reset';
@use 'common/base';
@use 'components';
@use 'partials/footer';
@use 'partials/header';

.wp-block {
  max-width: var(--content-width);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &[data-align='wide'],
  &.alignwide {
    max-width: var(--alignwide-width);
  }

  &[data-align='full'],
  &.alignfull {
    max-width: var(--alignfull-width);
    width: 100%;
  }
}

.editor-styles-wrapper .header .wp-block {
  max-width: none;
}

.editor-styles-wrapper header.header.alignfull,
.editor-styles-wrapper .header.alignfull {
  max-width: none !important;
  width: 100% !important;
}

.editor-styles-wrapper .header > .alignfull {
  margin-block: 0 !important;
}

.editor-styles-wrapper .header .header__inner-container.alignwide {
  width: 100% !important;
}

// Disable links rendered in ACF blocks
.acf-block-preview [href]:not([href^='#']) {
  pointer-events: none;
}
