@use "@/common/functions";
@use "@/components/typography";

// Legacy shortcode pages (account, thankyou)
.is-root-container > .woocommerce {
  max-width: var(--alignwide-width);
  margin-left: auto;
  margin-right: auto;
}

// Make the page-title alignwide as well
.is-root-container > .wp-block-gds-page-title:has(+ .woocommerce:last-child) {
  max-width: var(--alignwide-width);
  margin-left: auto;
  margin-right: auto;
}

/**
 * Layout view used on login page, orders page and thank you page.
 */
.woocommerce .col2-set {
  display: grid;
  grid-gap: var(--grid-gutter);
  row-gap: var(--block-gutter-l);
  grid-template-columns: functions.auto-columns(2, 300px);

  &:not(:first-child) {
    margin-top: var(--block-gutter);
  }

  &:not(:last-child) {
    margin-bottom: var(--block-gutter);
  }
}

/**
 * Archive
 */
.woocommerce .woocommerce-result-count {
  float: none;
  margin: 0;
}

.woocommerce .woocommerce-ordering {
  float: none;
  margin: 0;
}

/**
 * My account page
 */
.woocommerce form.login,
.woocommerce form.register {
  border-radius: var(--gds-border-radius);
  padding: var(--gds-container-padding);
  background-color: var(--gds-color-lightest-gray);
  border-color: transparent;

  // Actions row
  .form-row:not(.woocommerce-form-row),
  .form-row:last-child {
    display: flex;
    align-items: center;
    margin-top: var(--grid-gutter);
    flex-wrap: wrap;

    .woocommerce-form-login__rememberme {
      order: 1;
      margin-left: var(--grid-gutter);
      margin-bottom: 0;
    }
  }

  .woocommerce-privacy-policy-text {
    font-size: var(--gds-body-s-font-size);
  }
}

body.my-account.logged-in .woocommerce {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: var(--grid-column-3) 1fr;

  > * {
    float: none;
    width: auto;
  }

  &::before,
  &::after {
    display: none;
  }
}

.woocommerce-MyAccount {
  &-navigation > ul {
    list-style-type: none;
    padding-left: 0;

    a {
      text-decoration: none;
      font-weight: inherit;
      padding: var(--gds-container-padding);
      display: block;
      border-bottom: solid 1px var(--gds-color-mid-gray);

      &:hover {
        background-color: var(--gds-color-lightest-gray);
      }
    }

    .is-active > a {
      background-color: var(--gds-color-lightest-gray);
      font-weight: 700;
    }
  }

  &-content {
    fieldset {
      margin-block-start: var(--block-gutter);
    }

    legend {
      @include typography.heading;
      @include typography.heading-xs;

      margin-bottom: 0;
    }

    .form-row.form-row {
      padding: 0;
      margin-bottom: var(--grid-gutter);

      label {
        line-height: inherit;
      }

      input + span {
        @include typography.body-s;

        display: block;
        margin-block-start: 4px;
      }
    }

    // Orders
    .woocommerce-orders-table {
      .button {
        text-decoration: underline;
      }
    }

    // Downloads
    .woocommerce-info .button {
      text-decoration: underline;
    }

    // Addresses
    .addresses {
     .title h3 {
        margin-bottom: 4px;
      }

      .title .edit {
        text-decoration: underline;
      }
    }
  }
}
