div.facetwp {
  &-facet {
    margin-bottom: 0;
  }

  &-type-hierarchy_select {
    display: flex;

    > select:first-child {
      width: auto;
    }
  }
}

.facetwp {
  &-type-autocomplete {
    display: flex;
  }

  &-autocomplete-update {
    @extend %u-button;

    padding-left: 1rem;
    padding-right: 1rem;
  }
}
