$c-woocommerce-dot-size:    13px !default;
$c-woocommerce-nav-size:    30px !default;
$c-woocommerce-star:        $fa-var-star !default;
$c-woocommerce-star-empty:  $fa-var-star !default;
$c-woocommerce-star-color:  $primary-color !default;
$c-woocommerce-star-empty-color: $light-gray !default;

/**
 * Product gallery
 */
.woocommerce-product-gallery {
  $woocommerce-gallery-gutter: 0.5rem !default;

  position: relative;

  &__wrapper {
    margin-right: -$woocommerce-gallery-gutter;
    width: calc(100% + #{$woocommerce-gallery-gutter});
  }

  &__image {
    &,
    &--placeholder {
      padding-right: $woocommerce-gallery-gutter;
      vertical-align: top;
    }

    &:nth-child(n+2) {
      width: 25%;
      display: inline-block;
      padding-top: $woocommerce-gallery-gutter;
    }
  }

  &__trigger {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1rem;
    z-index: 9;
    width: 36px;
    height: 36px;
    color: $black;
    font-family: 'FontAwesome';
    visibility: hidden;

    &::before {
      content: $fa-var-zoom-in;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.flex {
  // Gallery images
  &-viewport {
    .woocommerce-product-gallery {
      &__image {
        padding-right: 0;
        padding-top: 0;
      }
    }
  }

  // Default thumbnail controls
  &-control-thumbs {
    overflow: hidden;
    zoom: 1;
    margin: 0;
    padding: 0;

    li {
      width: 25%;
      float: left;
      margin: 0;
      list-style: none;

      img {
        cursor: pointer;
        opacity: 0.5;
        margin: 0;

        &.flex-active,
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  // Dot controls
  &-control-paging {
    $c-woocommerce-dot-size: 10px !default;

    @extend .slick-dots;

    li {
      // Override .slick-dots
      width: auto !important;
      height: auto !important;
    }

    a {
      border: 0;
      background: transparent;
      display: block;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: $c-woocommerce-dot-size/2;
      padding-top: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;

        &::before {
          opacity: $slick-opacity-on-hover;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: $c-woocommerce-dot-size;
        height: $c-woocommerce-dot-size;
        font-family: $slick-font-family;
        font-size: $c-woocommerce-dot-size;
        line-height: $c-woocommerce-dot-size;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &.flex-active::before {
        color: $slick-dot-color-active;
        opacity: $slick-opacity-default;
      }
    }
  }

  &-direction-nav {
    list-style-type: none;

    .flex-prev,
    .flex-next {
      display: flex;
      align-items: center;

      &::before {
        // Override .slick-prev, .slick-next
        font-size: $c-woocommerce-nav-size !important;
      }
    }

    .flex-prev {
      @extend .slick-prev;

      left: 0;
      padding-left: 1rem;
    }

    .flex-next {
      @extend .slick-next;

      right: 0;
      padding-right: 1rem;
    }
  }
}

/**
 * Messages
 */
.woocommerce-message,
.woocommerce-error,
.woocommerce-notice,
.woocommerce-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button {
    order: 2;
  }

  @include callout;
}

.woocommerce-notice--success,
.woocommerce-info,
.woocommerce-message { @include callout-style(get-color(success)); }
.woocommerce-error { @include callout-style(get-color(alert)); }

/**
 * Shop page.
 */
.woocommerce {
  &-result-count,
  &-ordering select {
    margin-bottom: 0;
  }
}

/**
 * Product page.
 */
.woocommerce {
  // Quantity field
  .quantity {
    float: left;

    .qty {
      width: 3.631em;
      text-align: center;
    }
  }

  // Add to cart including quantity, variations, groups, buttons etc.
  form.cart {
    @include clearfix;
  }

  // Variation and group choices.
  table.variations,
  table.group_table {
    margin-left: (-1 * get-side($table-padding, left));

    select {
      width: auto;
      margin-bottom: 0;
    }

    tbody,
    thead,
    tfoot,
    tr {
      border: 0;
    }

    td.label {
      display: table-cell;
      color: inherit;
      background-color: transparent;
      font-size: 1rem;
    }

    .reset_variations {
      margin-left: $global-margin;
    }

    .button {
      @extend %u-button--secondary;
    }
  }
}

/**
 * General tables
 */
.woocommerce table {
  .button,
  .input-text {
    margin-bottom: 0 !important; // override any @extend margin.
  }

  tbody {
    @include -zf-table-unstripe();
  }

  th {
    text-align: left;
  }
}

/**
 * Cart page
 */
.woocommerce {
  // Remove product from cart
  a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: get-color(alert) !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
  }

  &-cart table.cart {
    // Thumbnail
    img {
      width: 32px;
    }

    // Coupon and submit row.
    .actions {
      text-align: right;

      .button {
        @extend %u-button--secondary;
      }
    }

    // Coupon
    .coupon {
      display: flex;
      float: left;

      label { display: none; }
      .input-text { width: 120px; }
    }
  }

  small.tax_label {
    color: $dark-gray;
  }

  .cart_totals {
    @include breakpoint(medium) {
      width: 50%;
      float: right;
    }

    .checkout-button {
      display: block;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
}

/**
 * Cart widget
 */
.woocommerce-mini-cart {
  list-style-type: none;
  margin-bottom: 0;

  @at-root {
    .widget_shopping_cart_content {
      @include card-container;
    }
  }

  &__total,
  &__buttons {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  @include card-section;

  &__total {
    @include card-divider;

    .amount {
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
  }

  &__buttons {
    @include card-section;
  }

  &-item {
    position: relative;

    @include clearfix;

    img {
      float: right;
      width: 32px;
    }

    a.remove {
      position: absolute;
      top: 0.25em;
      left: -($list-side-margin);
      opacity: 1;
      font-size: 1rem;
    }

    .variation {
      font-size: $small-font-size;
    }

    .quantity {
      display: block;
      font-size: $small-font-size;
    }
  }

  &__buttons {
    display: flex;

    .button {
      margin-bottom: 0;
    }
  }
}

/**
 * Checkout page.
 */
.woocommerce {
  // Multiple column layout
  .col2-set {
    @include xy-grid;
    @include xy-gutters($negative: true, $gutter-position: top left bottom right);
  }

  .col-1,
  .col-2 {
    @include xy-gutters($gutter-position: top left bottom right);
    @include xy-cell(12);

    @include breakpoint(medium) {
      @include xy-cell(6);
    }
  }

  // Form row elements
  .form-row {
    // Margin exists on the row due to it being a paragraph.
    .input-text {
      margin-bottom: 0;
    }

    &-first,
    &-last {
      float: left;

      @include xy-cell-static(6, false, $gutter-type: padding);
    }

    &-first {
      @include xy-gutters($gutter-position: right, $gutter-type: padding);
    }

    &-last {
      @include xy-gutters($gutter-position: left, $gutter-type: padding);
    }

    &-wide {
      @include clearfix;
    }
  }

  // Input required attr
  form .required {
    color: get-color(alert);
    border: 0;
    font-weight: $global-weight-bold;
  }

  // Payment selection
  &-checkout-payment {
    @include card-container;

    .payment_box {
      margin-top: $global-margin;
    }

    // As the input can be hidden, the margin should be on the input rather
    // than the label
    [type='checkbox'] + label,
    [type='radio'] + label {
      margin-left: 0;
    }

    [type='radio'] {
      margin-right: 0.5rem;
    }

    .methods {
      @include card-section;

      list-style-type: none;
      margin-left: 0; // ul indent
      margin-bottom: 0;
    }

    // Place order container
    .place-order {
      @include card-divider;

      justify-content: flex-end;

      .button {
        margin-bottom: 0;
      }
    }
  }
}

// Order recieved
.woocommerce {
  // Overview
  &-order-overview {
    @include menu-base;

    li {
      padding-right: $global-margin;
      margin-right: $global-margin;
      border-right: 1px dashed #d3ced2;
      font-size: $small-font-size;
      text-transform: uppercase;

      &:last-of-type {
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
      }

      strong {
        display: block;
        font-size: 1rem;
        text-transform: none;
      }
    }
  }

  &-order-details {
    margin-top: $global-margin;
  }
}

/**
 * Login form
 */
.woocommerce-form-login {
  .button {
    margin-right: $global-margin;
  }

  .inline {
    display: inline-block;
  }
}

/**
 * My account page.
 */
.woocommerce-MyAccount {
  &-navigation ul {
    @include menu-base;
    @include menu-direction(vertical);

    margin-bottom: $global-margin;
    text-align: center;
  }

  @include breakpoint(medium) {
    &-navigation {
      @include xy-cell-static(3, false, $gutter-type: padding);
      @include xy-gutters($gutter-position: right, $gutter-type: padding);

      float: left;

      ul {
        text-align: left;
      }
    }

    &-content {
      @include xy-cell-static(9, false, $gutter-type: padding);
      @include xy-gutters($gutter-position: left, $gutter-type: padding);

      float: left;
    }
  }
}

/**
 * Star ratings.
 */
.star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 4.65em;
  font-family: 'FontAwesome';

  &::before {
    content: '#{$c-woocommerce-star-empty}#{$c-woocommerce-star-empty}#{$c-woocommerce-star-empty}#{$c-woocommerce-star-empty}#{$c-woocommerce-star-empty}';
    color: $c-woocommerce-star-empty-color;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;

    &::before {
      content: '#{$c-woocommerce-star}#{$c-woocommerce-star}#{$c-woocommerce-star}#{$c-woocommerce-star}#{$c-woocommerce-star}';
      color: $c-woocommerce-star-color;
      top: 0;
      position: absolute;
      left: 0;
    }
  }
}

p.stars {
  a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: 'FontAwesome';
      content: $c-woocommerce-star-empty;
      color: $c-woocommerce-star-empty-color;
      text-indent: 0;
    }

    &:hover ~ a::before {
      content: $c-woocommerce-star-empty;
      color: $c-woocommerce-star-empty-color;
    }
  }

  &:hover {
    a::before {
      content: $c-woocommerce-star;
      color: $c-woocommerce-star-color;
    }
  }

  &.selected {
    a.active {
      &::before {
        content: $c-woocommerce-star;
        color: $c-woocommerce-star-color;
      }

      ~ a::before {
        content: $c-woocommerce-star-empty;
        color: $c-woocommerce-star-empty-color;
      }
    }

    a:not(.active)::before {
      content: $c-woocommerce-star;
      color: $c-woocommerce-star-color;
    }
  }
}
