@use "@scripts/components/carousel/carousel";

.wp-block-gds-carousel {
  --carousel-gutter: var(--grid-gutter);
  --shadow-offset: 8px;

  &__carousel > .block-list-appender {
    position: static;
  }

  .wp-block-gds-carousel-item {
    container-type: inline-size;
  }

  &:has(.wp-block-gds-media-card) &__carousel {
    margin: calc(-1 * var(--shadow-offset));

    &::part(button--prev) {
      left: var(--shadow-offset);
    }

    &::part(button--next) {
      right: var(--shadow-offset);
    }

    &::part(carousel) {
      scroll-padding: var(--shadow-offset);
      padding-left: var(--shadow-offset);
      padding-right: var(--shadow-offset);
    }

    .wp-block-gds-carousel-item {
      padding-bottom: var(--shadow-offset);
      padding-top: var(--shadow-offset);
    }
  }
}
