.wp-block-cover {
  color: var(--color-white);

  .wp-block-cover__inner-container {
    // Override Gutenberg weirdness
    color: inherit;
  }

  @media (min-width: #{$alignfull-max-width}) {
    min-height: 600px !important;
  }
}
