.gform_footer {
  margin-top: var(--spacing-m);
}

.gform_fields {
  display: grid;
  grid-gap: var(--spacing-m);

  .medium {
    max-width: var(--grid-column-5);
  }
}

.gfield_label {
  margin-bottom: var(--spacing-xxs);
  font-weight: 500;
  display: block;
}

// Honeypot
.gform_validation_container {
  display: none;
}
