@use "@styles/components/typography" as *;

gds-accordion-item:not([data-is-initialized]) {
  > :not([slot="label"]) {
    display: none;
  }

  [slot="label"] {
    display: block;
  }
}

.wp-block-gds-accordion-item {
  gds-accordion-item {
    @at-root gds-accordion-item:not([data-is-initialized]) [slot="label"],
    &::part(header) {
      border-bottom: solid 1px currentcolor;
      padding: 16px;
      z-index: 1;
    }

    [slot="label"] {
      @include body-l;

      margin-block-end: 0;
    }

    [slot="icon"] {
      transition: transform 0.2s ease-out;
    }

    &[expanded] [slot="icon"] {
      transform: rotate(180deg);
    }

    &::part(content) {
      border-bottom-left-radius: var(--gds-border-radius);
      border-bottom-right-radius: var(--gds-border-radius);
      overflow: hidden;
      padding: 16px;
      margin-bottom: 16px;
    }
  }

  &.has-background {
    border-radius: var(--gds-border-radius);

    &:not(:first-child) {
      margin-block-start: var(--block-gutter-s);
    }

    &:not(:last-child) {
      margin-block-end: var(--block-gutter-s);
    }
  }

  &:not(.has-background) gds-accordion-item {
    &::part(header) {
      border-bottom: solid 1px var(--gds-color-mid-gray);

      &:hover {
        color: var(--gds-color-primary);
        border-color: currentcolor;
      }
    }

    &::part(content) {
      background-color: var(--gds-color-lightest-gray);
    }
  }
}
