@mixin button {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--gds-button-color, inherit);
  background-color: var(--gds-button-background-color, inherit);
  font-family: inherit;
  font-weight: 600;
  line-height: 1;
  font-size: 1em;
  border: none;
  border-radius: 2.5em;
  padding: 1.3em 2.5em;
  z-index: 1;
  outline-offset: 0;

  @media (prefers-reduced-motion: no-preference) {
    &,
    &::before {
      transition: background-color 0.1s ease-out;
    }
  }

  // Overlay used to fade out the button background
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: transparent;
    border-radius: inherit;
  }

  &:hover::before {
    background-color: rgba(255 255 255 / 20%);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active::before {
    background-color: rgba(0 0 0 / 20%);
  }

  &[disabled],
  .is-disabled > & {
    background-color: var(--gds-color-light-gray);
    cursor: pointer;
    pointer-events: none;
    color: var(--gds-color-mid-gray);
  }
}

@mixin size-s {
  font-size: var(--gds-button-s-font-size);
  padding: 0.9em 1.5em;
}

@mixin size-m {
  font-size: var(--gds-button-m-font-size);
}

@mixin size-l {
  font-size: var(--gds-button-l-font-size);
}

@mixin outline {
  box-shadow: inset 0 0 0 1px currentcolor;
  background-color: transparent;
  color: currentcolor;

  &:hover {
    box-shadow: inset 0 0 0 2px rgba(0 0 0 / 100%);
  }
}
