@use "@/common/breakpoints" as *;

@mixin styles {
  position: relative;
  font-size: var(--gds-body-s-font-size);

  // Position the submit button on top of the search input
  [type="submit"] {
    all: unset;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    color: currentcolor;
    padding: 8px calc(var(--action-gutter) / 2 + 2px);

    // Center content
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus-visible {
      outline: var(--gds-outline--focus);
    }

    svg {
      fill: currentcolor;
      width: 1em;
      height: 1em;
      display: block;
    }
  }

  [type="search"] {
    box-shadow: var(--gds-box-shadow--active);
    border: 1px solid #eee;
    border-radius: var(--gds-border-radius);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: calc(var(--action-gutter, 1em) / 2);
    padding-right: calc(var(--action-gutter, 1em) / 2 + 1em);
    font-size: var(--gds-body-s-font-size);

    &::-webkit-search-cancel-button {
      appearance: none;
      mask-image: svg-load("solid/xmark.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: currentcolor;
      width: 1em;
      height: 1em;
    }
  }

  @include mq($from: desktopmenu) {
    justify-content: flex-end;

    // Position below input
    [type="submit"] {
      height: var(--gds-input-height);
      box-sizing: border-box;
      z-index: 0;

      // Add a delay on transitioning away from focus-within to z-index: 0 so that
      // safari has time to register the click on the button.
      transition-property: z-index;
      transition-delay: 0.1s;

      &:focus {
        z-index: 1;
      }
    }

    // Hide the search input visually so that it remains clickable/focusable but
    // the submit button is shown.
    [type="search"] {
      opacity: 0;
      z-index: 1;
      max-width: calc(1em + 8px * 2);
      cursor: pointer;

      @media (prefers-reduced-motion: no-preference) {
        transition: all 0.2s ease-out;
      }
    }

    // When input is focused or has content, expand and make it visually shown
    [type="search"]:not(:placeholder-shown),
    &:focus-within [type="search"] {
      opacity: 1;
      min-width: 200px;
      right: 0;
      cursor: initial;
      box-shadow: var(--gds-box-shadow--active);
      border: 1px solid #eee;
      border-radius: var(--gds-border-radius);
      padding-top: var(--gds-input-padding-y);
      padding-bottom: var(--gds-input-padding-y);
      padding-left: var(--gds-input-padding-x);
      padding-right: calc(var(--gds-input-padding-x) + 10px); // make room for the "x" to remove search
      position: absolute;
      margin-right: -4px;

      // Once focused, move submit button above input
      & ~ [type="submit"] {
        z-index: 2;
        position: relative;
      }
    }
  }
}
