@use '@styles/common/breakpoints' as *;

@mixin grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--grid-gutter-x);
  row-gap: var(--grid-gutter-y);

  > :not(.cell) {
    flex-basis: 100%;
  }
}

@mixin cell {
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;

  > :only-child {
    height: 100%;
  }
}

@mixin auto {
  width: auto;
  flex: 1 1 0;
}

@mixin shrink {
  width: auto;
  flex: 0 0 auto;
}

@mixin size($i) {
  width: calc(
    (#{$i} / var(--grid-columns) * 100%) -
      (
        var(--grid-gutter-x) -
          (#{$i} / var(--grid-columns) * var(--grid-gutter-x))
      )
  );
}

@mixin classes {
  .grid {
    @include grid;
  }

  .cell {
    @include cell;
  }

  @each $name, $breakpoint in $mq-breakpoints {
    @for $i from 1 through 12 {
      @include mq($from: $name) {
        .#{$name}\:#{$i} {
          @include size($i);
        }
      }
    }

    @include mq($from: $name) {
      .#{$name}\:auto {
        @include auto;
      }

      .#{$name}\:shrink {
        @include shrink;
      }
    }
  }
}
