@use "@/common/breakpoints" as *;
@use "@/components/tag";
@use "@blocks/media-card/_mixins" as card;

.teaser {
  position: relative;

  &__media {
    img {
      aspect-ratio: 384 / 257;
      object-fit: cover;
    }
  }

  &__content {
    > :not(:first-child) {
      margin-block-start: 12px;
    }

    > :not(:last-child) {
      margin-block-end: 12px;
    }
  }

  &__date {
    --icon-color: var(--gds-color-primary);
  }

  &__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__readmore {
    color: var(--gds-color-primary);
    text-decoration: none;

    > span {
      text-decoration: underline;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__tag {
    @include tag.base;
  }

  // Make the whole block clickable
  &__link::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 1;

    // Make other links clickable
    @at-root {
      .teaser a:not(.teaser__link),
      .teaser button {
        position: relative;
        z-index: 2;
      }
    }
  }
}

.teaser.is-card {
  @include card.card;

  &:hover {
    @include card.on-hover;
  }

  .teaser__title {
    font-size: 26px;
  }

  .teaser__media {
    @include card.media;
  }

  .teaser__content {
    @include card.content;
  }
}
