@use "@/common/functions" as *;

@mixin heading {
  display: block;
  font-family: var(--gds-heading-font-family);
  font-weight: 600;
  line-height: var(--gds-heading-line-height);
  margin-block-start: var(--gds-heading-margin-start);
  margin-block-end: var(--gds-heading-margin-end);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }
}

@mixin heading-xl {
  font-size: var(--gds-heading-xl-font-size);
  font-weight: 700;
}

@mixin heading-l {
  font-size: var(--gds-heading-l-font-size);
  font-weight: 700;
}

@mixin heading-m {
  font-size: var(--gds-heading-m-font-size);
}

@mixin heading-s {
  font-size: var(--gds-heading-s-font-size);
}

@mixin heading-xs {
  font-size: var(--gds-heading-xs-font-size);
}

@mixin body {
  font-family: var(--gds-body-font-family);
  font-size: var(--gds-body-m-font-size);
  font-weight: 400;
  line-height: var(--gds-body-line-height);
}

@mixin body-l {
  font-size: var(--gds-body-l-font-size);
}

@mixin body-m {
  font-size: var(--gds-body-m-font-size);
}

@mixin body-s {
  font-size: var(--gds-body-s-font-size);
}

@mixin link {
  text-decoration: underline;
  font-weight: 700;
  color: var(--gds-link-color);

  &:hover {
    color: var(--gds-link-hover-color);
  }

  > .icon {
    margin-left: 0.5ch;
  }
}
