# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
dist
node_modules
npm-debug.log
yarn-error.log
vendor
resources/assets/config-local.json
.cache-loader

# Fontello build files we don't need.
resources/assets/fonts/fontello/animation.css
resources/assets/fonts/fontello/fontawesome-embedded.css
resources/assets/fonts/fontello/fontawesome-ie7-codes.css
resources/assets/fonts/fontello/fontawesome-ie7.css
resources/assets/fonts/fontello/fontawesome.css
