@import '~@wordpress/base-styles/breakpoints';

$is-editor: false !default;
$mq-breakpoints: (
  mobile: 320px,
  small: $break-small,
  medium: $break-medium,
  large: $break-large,
  xlarge: $break-xlarge,
  wide: $break-wide,
  huge: $break-huge,
);

$color-names:
  'white',
  'ui-background-01',
  'ui-background-02',
  'ui-01',
  'ui-02',
  'black',
  'ui-03',
  'ui-04',
  'ui-05',
  'ui-06',
  'ui-07';

$alignfull-max-width: 1600px;

:root {
  --content-width: 800px;
  --alignwide-width: 1200px;
  --alignfull-width: 1600px;
  --gutter: var(--spacing-m);
  --block-gutter: var(--spacing-m);
  --block-gutter-lg: calc(var(--gutter) * 1.5);
  --spacing-xxxl: 80px;

  @each $name in $color-names {
    --color-#{$name}: var(--wp--preset--color--#{$name});
  }

  @include mq($from: medium) {
    --gutter: var(--spacing-m);
  }

  /**
   * GDS variable overrides.
   */
  // Sizes (columns plus in-between gutters)
  --size-column: 78px;
  --size-col-1: var(--size-column);
  --size-col-2: calc(var(--size-column) * 2 + var(--gutter));
  --size-col-3: calc(var(--size-column) * 3 + var(--gutter) * 2);
  --size-col-4: calc(var(--size-column) * 4 + var(--gutter) * 3);
  --size-col-5: calc(var(--size-column) * 5 + var(--gutter) * 4);

  // Card
  --card-width: 300px;

  // Media Card
  --media-card-media-height: 220px;
}
