/* stylelint-disable selector-class-pattern */

@use '@styles/components/screen-reader' as *;
@use '@styles/components/button';
@use '@styles/components/typography';

.wp-block-gds-woo-product-tabs {
  h2 {
    @include sr-only;

    + * {
      margin-top: 0;
    }
  }
}

/**
 * Additional information
 */
.wp-block-gds-woo-product-tabs table {
  th {
    width: 150px;
    padding: 5px var(--gds-container-padding);
    text-align: left;
  }

  td {
    font-style: italic;
  }
}

/**
 * Reviews
 */
.wp-block-gds-woo-product-tabs #reviews {
  .woocommerce-noreviews {
    font-style: italic;
    margin-bottom: 1rem;
  }

  .comment-reply-title {
    --gds-heading-margin-end: 0;

    @include typography.heading-xs;
    @include typography.heading;
  }

  .star-rating {
    float: right;

    & + * {
      margin-top: 0;
    }
  }

  .commentlist {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: var(--gds-container-padding);
    }

    .comment-text {
      margin-left: 0;
      border: 0;
      background-color: var(--gds-color-light-gray);
      border-radius: var(--gds-border-radius);
      padding: var(--gds-container-padding);

      p {
        margin-bottom: var(--block-gutter-xs);
      }

      p.meta {
        font-size: var(--gds-body-s-font-size);
        color: var(--gds-color-dark-gray);
      }

      .description p:last-child {
        margin-bottom: 0;
      }
    }

    // Comment reply
    .comment.depth-1 {
      margin-left: var(--grid-gutter);

      .comment-text {
        background-color: var(--gds-color-white);
      }
    }
  }

  [type='submit'] {
    @include button.size-s;
  }

  p.stars {
    margin-top: 0;

    span {
      display: flex;
    }

    a {
      text-indent: -999em;
      width: 1em;
      height: 1em;
      display: inline-block;
      text-decoration: none;
      mask-image: svg-load('solid/star.svg');
      mask-repeat: no-repeat;
      mask-size: 1em;
      background-color: var(--gds-color-mid-gray);
    }

    &.selected a,
    &:hover a,
    a:hover {
      color: inherit;
      background-color: currentcolor;
    }

    a.active ~ a,
    a:hover ~ a {
      background-color: var(--gds-color-mid-gray);
    }
  }
}
