@use "@/components/typography" as *;
@use "@/components/button" as button;
@use "@/components/form" as form;
@use "@/config";

body {
  @include body;

  background-color: var(--gds-color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.admin-bar {
    --admin-bar-height: 32px;

    @media screen and (width <= 782px) {
      --admin-bar-height: 46px;
    }
  }

  @supports not (height: 100dvh) {
    --app-height: calc(100vh - var(--admin-bar-height, 0px));
  }

  @supports (height: 100dvh) {
    --app-height: calc(100dvh - var(--admin-bar-height, 0px));
  }
}

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;

  // Declare that nothing outside of #app will affect container
  contain: content;
  min-height: 100%;

  > .container {
    flex: 1 0 auto;
  }
}

// Avoid FOUC
[class^="fa-"],
.fa,
.fal,
.far,
.fas {
  display: inline-block;
  width: 1em;
  height: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

@if not config.$is-editor {
  :focus-visible {
    outline: var(--gds-outline--focus);
  }
}

p a,
li > a {
  @include link;
}

ul,
ol {
  box-sizing: border-box;
  padding-left: 16px;

  &:first-child {
    margin-block-start: 0;
  }
}

ul {
  list-style-type: disc;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
select,
textarea {
  @include form.base;
}

textarea {
  resize: vertical;
  word-wrap: break-word;
}

::placeholder {
  color: var(--gds-color-mid-gray);
}

label {
  @include form.label;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

select:not([multiple]) {
  @include form.select;
}

[type="file"]::-webkit-file-upload-button {
  @include button.button;
  @include button.outline;
  @include button.size-s;

  margin-right: 8px;
}

[type="submit"] {
  appearance: none;
  cursor: pointer;

  @include button.button;
}

modal-dialog {
  display: none;
}
