@use "sass:math";

@function sloped-size($min-size, $max-size, $min-width: 375px, $max-width: 1400px) {
  @if math.unit($min-size) == 'rem' {
    $min-width: rem($min-width);
    $max-width: rem($max-width);
  } @else if math.unit($min-size) == 'em' {
    $min-width: em($min-width);
    $max-width: em($max-width);
  }

  /* stylelint-disable scss/operator-no-newline-after */
  @return clamp(
    #{$min-size},
    (
      #{$min-size} +
      #{strip-unit($max-size - $min-size)} *
      (100vw - #{$min-width}) /
      #{strip-unit($max-width - $min-width)}
    ),
    #{$max-size}
  );
  /* stylelint-enable scss/operator-no-newline-after */
}

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@function rem($value, $base: 16) {
  @return math.div(strip-unit($value), $base) * 1rem;
}

@function em($value, $base: 16) {
  @return math.div(strip-unit($value), $base) * 1em;
}

@function auto-columns($columns, $min-width: 200px) {
  $gap-count: calc(#{$columns} - 1);
  $total-gap-width: calc(#{$gap-count} * var(--grid-gutter));
  $max-width: calc((100% - #{$total-gap-width}) / #{$columns});

  @return repeat(auto-fill, minmax(max(#{$min-width}, #{$max-width}), 1fr));
}
