youtube-embed {
  [slot="button"] {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    color: #f00;
    font-size: 3em;
  }
}
