.wp-block-gds-post-teaser {
  // Contain read-more absolute positioned pseudo element
  position: relative;

  // Expand and push the last element (readmore usually) to the end of the
  // block.
  .wp-block-product > &,
  .wp-block-post > & {
    height: 100%;

    .wp-block-gds-media-card {
      height: 100%;

      &__content > :last-child:not(:only-child) {
        margin-top: auto;
      }
    }
  }

  &.has-background {
    // Prevent oveflow
    border-radius: var(--gds-border-radius);

    > .wp-block-gds-media-card {
      background-color: inherit;
      color: inherit;
    }
  }
}
