@use "@/common/functions" as *;

modal-dialog {
  display: flex;

  &::part(dialog) {
    box-sizing: border-box;
    max-width: 680px;
    padding:
      #{sloped-size(24px, 60px)}
      #{sloped-size(12px, 60px)};
    border-radius: var(--gds-border-radius);
    box-shadow: var(--gds-box-shadow);
    max-height: 90vh;
    max-height: 90dvh;
    overflow: auto;
  }

  &::part(overlay) {
    animation: fade-in 0.2s both;
    background: rgba(0 0 0 / 10%);
    backdrop-filter: blur(2px);
  }

  &::part(close-button) {
    padding: 1rem;
  }

  &[aria-hidden] {
    display: none;
  }

  > * {
    margin-block-start: var(--block-gutter-start, var(--block-gutter));
    margin-block-end: var(--block-gutter-end, var(--block-gutter));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
