{% extends 'pages/page.twig' %}

{% block post__content %}
  <div class="post__content">
    <p>{{__("Sorry, we couldn't find what you're looking for.", '<example-project>')}}</p>
  </div>
{% endblock %}
