{# Archive template for terms, categories, post type pages and ArchivePageComponent pages #}
{# This template reuses the `page` classes from page.twig #}
{% extends 'pages/page.twig' %}

{# Support ArchivePageComponent #}
{% set post = post ?: term|default(post) %}
{% set taxonomy = term.taxonomy|default(post.archive__post_type) %}

{%
  set page_classes = page_classes ?: [
    'page',
    'page--'~template_type,
    'page--type-'~taxonomy,
    'archive',
    'grid-container',
    'grid-container-padded',
  ]
%}

{% block content %}
  <div class="{{page_classes|join(' ')}}" id="archive-{{post.ID}}">
    <div class="grid-x grid-margin-x grid-margin-y">
      {# Archive term or post #}
      {% block term %}
        <article class="page__term cell grid-x align-center">
          <div class="cell auto">
            {% block breadcrumb parent() %}
            <div class="page__content-wrapper grid-x grid-margin-x grid-margin-y">
              {% block page__header parent() %}
              {% block page__content parent() %}
              {% block page__footer parent() %}
            </div><!-- .page__content-wrapper -->
          </div><!-- .cell.auto -->

          {% block page__sidebar parent() %}
          {% block page__after parent() %}
        </article>
      {% endblock %}

      {# Archive listing #}
      {% block listing %}
        {% block listing__loop %}
          <section class="page__listing cell" id="page__listing">
            <div class="grid-x grid-margin-x grid-margin-y small-up-1 medium-up-2 large-up-3 align-stretch align-center">
              {% for archive_post in posts %}
                {% block listing__item %}
                  <div class="cell">
                    {% embed ['teasers/teaser--'~archive_post.post_type~'.twig', 'teasers/teaser.twig'] with { post: archive_post } %}
                      {% block thumbnail post.thumbnail.src_sizes(foundation_sizes('medium-6 large-4')) ~ parent() %}
                    {% endembed %}
                  </div>
                {% endblock %}
              {% endfor %}
            </div>
          </section>
        {% endblock %}

        {% block listing__pager %}
          {% if posts.pagination.prev.link or posts.pagination.next.link %}
            <div class="page__listing_pager cell">
              {% include 'parts/archive__pager.twig' %}
            </div>
          {% endif %}
        {% endblock %}

      {% endblock listing %}
    </div><!-- .grid-x -->
    {% block page__grid_after parent() %}
  </div><!-- .page -->
{% endblock %}
