{##
 # @version 2.0.0
 # @see https://github.com/woocommerce/woocommerce/blob/master/templates/archive-product.php
 #}
{% extends 'pages/archive.twig' %}

{% set post = TPost(fn('wc_get_page_id', 'shop')) %}

{% block content %}
  {% do action('woocommerce_before_main_content') %}
  {{parent()}}
  {% do action('woocommerce_after_main_content') %}
{% endblock %}

{% block listing %}
  {# Sorting #}
  <div class="cell">
    <div class="grid-x grid-margin-x grid-margin-y align-middle align-justify">
      <div class="cell shrink">{{fn('woocommerce_result_count')}}</div>
      <div class="cell shrink">{{fn('woocommerce_catalog_ordering')}}</div>
    </div>
    {% do action('woocommerce_before_shop_loop') %}
  </div>

  {% do action('woocommerce_shop_loop') %}

  {{parent()}}

  {# Pagination @todo #}
  <div class="cell">
    {% do action('woocommerce_after_shop_loop') %}
  </div>
{% endblock %}
