{# Main page template re-used across posts, pages and archives #}
{% extends 'layout/base.twig' %}

{%
  set page_classes = page_classes ?: [
    'page',
    'page--'~template_type,
    'page--type-'~post.post_type,
    'post',
    'grid-container',
    'grid-container-padded',
  ]
%}

{% block content %}
  <article class="{{page_classes|join(' ')}}" id="post-{{post.ID}}">
    <div class="grid-x grid-margin-x grid-margin-y align-center">

      <div class="cell auto">
        {% block breadcrumb %}
          {% include 'parts/breadcrumb.twig' %}
        {% endblock %}
        <div class="page__content-wrapper grid-x grid-margin-x grid-margin-y">
          {# Heading #}
          {% block page__header %}
            <div class="page__title-wrapper cell">
              <h1 class="page__title">{% block page__title post.title|default(wp_title) %}</h1>
            </div>
          {% endblock %}

          {# Content #}
          {% block page__content %}
            {% if post.content %}
              <div class="page__content cell">
                {{post.content}}
              </div>
            {% endif %}
          {% endblock %}

          {# Footer #}
          {% block page__footer %}
            {% if sidebar__content_below %}
              <div class="page__footer cell">
                <div class="grid-x grid-margin-y">
                  {% block sidebar__content_below %}
                    {% include ['layout/sidebar--content_below.twig'] %}
                  {% endblock %}
                </div>
              </div>
            {% endif %}
          {% endblock %}
        </div><!-- .page__content-wrapper -->
      </div><!-- .cell.auto -->

      {# Sidebar #}
      {% block page__sidebar %}
        {% if sidebar__primary %}
          <div class="page__sidebar cell large-3">
            {% block sidebar__primary %}
              {% include ['layout/sidebar--primary.twig'] %}
            {% endblock %}
          </div>
        {% endif %}
      {% endblock %}

      {% block page__after '' %}
    </div><!-- .grid-x -->
    {% block page__grid_after '' %}
  </article>
{% endblock %}
