{% extends 'pages/page.twig' %}

{% block page__footer %}
  <div class="page__footer cell">
    <div class="grid-x grid-margin-y">
      {% block sidebar__content_below parent() %}

      <div class="cell" id="page__terms">
        {% include 'parts/post__terms.twig' with { terms: post.terms('category') } %}
      </div>
      <div class="cell" id="page__comments">
        {% include 'parts/post__comments.twig' %}
      </div>
      <div class="cell" id="page__related">
        {% include 'parts/post__related.twig' %}
      </div>
      <div class="cell" id="page__nav">
        {% include 'parts/post__nav.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
