@use '~genero-design-system/src/components/gds-input-wrapper' as input;
@use '~genero-design-system/src/components/gds-button' as button;

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  @include input.form-element-base;

  &:focus {
    @include input.on-focus;
  }
}

::placeholder {
  @include input.placeholder;
}

label {
  @include input.label;

  margin-bottom: var(--gds-spacing-2xs);
  display: block;
}

select {
  @include input.form-select;
}

[type="submit"] {
  appearance: none;
  cursor: pointer;

  @include button.base;
  @include button.size-m;
}
