{% set posts = get_posts(q) %}

{% block content %}
  <div class="grid-x grid-margin-y">
    {% for post in posts %}
      <div class="cell">
        {% include ['teasers/teaser--'~post.post_type~'.twig', 'teasers/teaser.twig'] %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block pager %}
  {% if atts.pagination %}
    {% include 'parts/archive__pager.twig' %}
  {% endif %}
{% endblock %}
