@use "@styles/components/button" as button;
@use "@styles/components/typography" as typography;

.wp-block-file {
  a:not(.wp-block-file__button) {
    @include typography.link;

    /* stylelint-disable-next-line no-duplicate-selectors */
    & {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    margin-left: var(--grid-gutter);

    @include button.button;
    @include button.size-s;
  }
}
