.wp-block-details {
  summary + * {
    margin-top: 4px;
  }

  &.has-background {
    padding: var(--gds-container-padding);
    border-radius: var(--gds-border-radius);
  }

  & + .wp-block-details {
    margin-top: calc(-1 * var(--block-gutter) + var(--block-gutter-xs));
  }
}
