.wp-block-cover {
  box-sizing: border-box;
  color: var(--gds-color-white);
  padding: var(--grid-gutter);

  &.alignfull {
    padding-left: var(--viewport-gutter);
    padding-right: var(--viewport-gutter);
  }
}
