.wp-block-post-date {
  &.has-text-color,
  .has-background & {
    --icon-color: currentcolor;
  }

  > time {
    display: flex;
    align-items: center;
  }

  > time::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    mask-image: svg-load("../node_modules/@fortawesome/fontawesome-free/svgs/solid/calendar-week.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background: var(--icon-color, var(--gds-color-primary));
    margin-right: 4px;
  }
}
