@use '@styles/common/breakpoints' as *;

.wp-block-list {
  --block-gutter: var(--block-gutter-s);

  > li {
    margin-bottom: 0;
  }

  ol,
  ul {
    margin-left: 0;
  }
}

.is-style-spacious {
  @include mq($from: medium) {
    padding-left: 40px;

    > li {
      padding-left: 8px;
    }
  }

  > li:not(:first-child) {
    margin-block-start: 16px;
  }

  > li > .wp-block-list {
    margin-block-start: 16px;
  }
}
