.wp-block-columns {
  &.is-layout-flex {
    gap: var(--grid-gutter);
  }

  &.is-style-media-text {
    @media (width > 781px) {
      gap: var(--media-text-gutter);
    }

    &.alignfull {
      @media (width <= 781px) {
        > .wp-block-column:last-child {
          padding-left: var(--viewport-gutter);
          padding-right: var(--viewport-gutter);
        }
      }
    }

    &.alignwide {
      @media (width <= 781px) {
        > .wp-block-column:first-child {
          margin-left: calc(-1 * var(--viewport-gutter));
          margin-right: calc(-1 * var(--viewport-gutter));
        }
      }
    }
  }
}
