@use "@/common/breakpoints" as *;
@use "@/components/typography";
@use "@/components/button";

// @note requires Gravityforms 2.5+ with default styles not loaded.
/* stylelint-disable selector-class-pattern */

.gform {
  &_heading > :not(:empty) {
    margin-block-end: var(--block-gutter-s);
  }

  &_description {
    display: block;
  }

  &_required_legend {
    font-style: italic;

    @include typography.body-s;
  }

  &_footer {
    margin-top: var(--grid-gutter);
  }

  &_fields {
    display: grid;
    grid-gap: var(--grid-gutter);
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, auto);

    .medium {
      max-width: var(--grid-column-5);
    }
  }

  &_hidden {
    display: none;
  }

  // Honeypot
  &_validation_container {
    display: none;
  }

  &_confirmation_wrapper {
    background-color: var(--gds-color-light-gray);
    padding: var(--grid-gutter);
  }

  &_submission_error {
    @include typography.body-s;

    font-family: var(--gds-body-font-family);
    font-size: var(--gds-paragraph-m-font-size);
  }

  &_fileupload_rules {
    @include typography.body-s;

    display: block;
    margin-block-start: 4px;
  }

  &_fileupload_multifile {
    background-color: var(--gds-color-lightest-gray);
    padding: var(--grid-gutter);
    border-radius: var(--gds-border-radius);
    border: dashed 2px var(--gds-color-light-gray);
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    .gform_button_select_files {
      @include button.button;
      @include button.outline;
      @include button.size-s;

      margin-left: 8px;
    }
  }
}

.gfield {
  grid-column: 1 / -1;
  min-width: 0;

  &--width-full {
    grid-column: span 12;
  }

  &--width-eleven-twelfths {
    grid-column: span 11;
  }

  &--width-five-sixths {
    grid-column: span 10;
  }

  &--width-three-quarter {
    grid-column: span 9;
  }

  &--width-two-thirds {
    grid-column: span 8;
  }

  &--width-seven-twelfths {
    grid-column: span 7;
  }

  &--width-half {
    grid-column: span 6;
  }

  &--width-five-twelfths {
    grid-column: span 5;
  }

  &--width-third {
    grid-column: span 4;
  }

  &--width-quarter {
    grid-column: span 3;
  }

  &--width-one-sixth {
    grid-column: span 2;
  }

  &--width-one-twelfth {
    grid-column: span 1;
  }

  &_description {
    @include typography.body-s;

    margin-block-start: 4px;
  }

  &_label {
    margin-block-end: 4px;
    display: block;

    .hidden_label & {
      display: none;
    }

    > .gfield_required {
      margin-left: 0.5ch;
    }
  }

  // Align radio lists other alternative
  &_checkbox,
  &_radio {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    > .gchoice {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 8px;
    }

    label {
      margin-bottom: 0;
      flex: 1 0 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
      flex: 0 0 auto;
      margin-top: 0.27em; // just an approximation
    }

    .gfield-choice-input:not(:checked) ~ .gchoice_other_control {
      display: none;
    }
  }
}

.gform_validation_error {
  .gfield_error {
    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    select,
    textarea {
      border-color: var(--gds-color-error);
    }
  }

  .gfield_validation_message {
    color: var(--gds-color-error);
    font-weight: 600;
  }

  .gform_submission_error {
    @include typography.body-m;

    color: var(--gds-color-error);
    margin-block-end: var(--block-gutter-s);
    font-weight: 600;
  }
}

// Eg. time, name
.ginput_complex {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;

  > * {
    flex: 1 0 auto;
  }

  > .gfield_time_hour,
  > .gfield_time_minute,
  > .hour_minute_colon {
    flex-grow: 0;
  }

  input + label,
  select + label {
    @include typography.body-s;

    margin-top: 2px;
  }
}

.ginput_list {
  .add_list_item {
    @include button.button;
    @include button.outline;
    @include button.size-s;
  }

  .delete_list_item {
    font-size: var(--gds-button-s-font-size);

    &:hover {
      text-decoration: underline;
    }
  }

  .gfield_list_groups {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .gfield_list_icons,
  .gfield_list_group {
    display: flex;
    gap: var(--grid-gutter);
    flex-wrap: wrap;
  }

  .gfield_list_icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 0;
    justify-content: center;
  }

  .gfield_list_group_item {
    flex: 1 0 auto;
  }
}

.ginput_container_consent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;

  input[type="checkbox"] {
    flex: 0 0 auto;
    margin-top: 0.27em; // just an approximation
  }
}

.ginput_container_name {
  grid-gap: var(--grid-gutter);
}

.ginput_container_date {
  position: relative;
  flex: 0 0 auto;

  input:not(.datepicker) {
    width: auto;
  }

  > .ui-datepicker-trigger {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.ginput_container_address {
  display: grid;
  column-gap: var(--grid-gutter);
  row-gap: 8px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);

  > * {
    grid-column: 1 / -1;
    min-width: 0;
  }

  > .ginput_full {
    grid-column: span 2;
  }

  > .ginput_left {
    grid-column: span 1;
  }

  > .ginput_right {
    grid-column: span 1;
  }

  > .gf_clear_complex {
    display: none;
  }
}

img.gform_ajax_spinner {
  width: auto;
  margin-left: 1rem;
}

.ui-datepicker {
  --ui-gutter: 8px;

  &:empty {
    display: none;
  }

  background-color: var(--gds-color-white);
  box-shadow: var(--gds-box-shadow);
  padding: var(--gds-container-padding);
  display: flex;
  flex-direction: column;
  gap: var(--ui-gutter);
  border-radius: var(--gds-border-radius);
  font-size: var(--gds-body-s-font-size);

  // On mobile, fix it to the bottom of the viewport
  @include mq($until: medium) {
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    width: 100% !important;
    left: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--ui-gutter);
  }

  a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--gds-color-primary);
    }
  }

  &-prev,
  &-next {
    &:hover {
      color: var(--gds-color-primary);
    }
  }

  .ui-icon-circle-triangle-w,
  .ui-icon-circle-triangle-e {
    mask-image: svg-load("../node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-left.svg");
    mask-repeat: no-repeat;
    background-color: currentcolor;
    display: inline-block;
    width: 1em;
    height: 1em;
    text-indent: -200vw;
    overflow: hidden;
  }

  .ui-icon-circle-triangle-e {
    mask-image: svg-load("../node_modules/@fortawesome/fontawesome-free/svgs/solid/chevron-right.svg");
  }

  &-title {
    display: flex;
    gap: var(--ui-gutter);
    width: 100%;
  }

  select.ui-datepicker-month,
  select.ui-datepicker-year {
    all: revert;
    width: 100%;
    padding: 4px 16px 4px 4px;
    outline: none;

    &:hover {
      box-shadow: none;
    }

    &:focus-visible {
      outline: var(--gds-outline--focus);
    }
  }

  &-calendar {
    width: 100%;
    text-align: center;

    thead th {
      font-weight: inherit;
      color: var(--gds-color-dark-gray);
    }

    td,
    th {
      width: 2.5em;
      height: 2.25em;

      > * {
        height: 100%;
      }
    }

    .ui-state-default {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ui-state-disabled {
      color: var(--gds-color-mid-gray);
      background-color: var(--gds-color-lightest-gray);
      font-style: italic;
    }

    .ui-state-active {
      background-color: var(--gds-color-primary);

      &,
      &:hover {
        color: var(--gds-color-white);
      }
    }

    .ui-state-hover {
      border: solid 1px var(--gds-color-primary);
      color: var(--gds-color-primary);
    }
  }
}

/* stylelint-enable selector-class-pattern */
