@use "@/common/functions";

.wp-block-woocommerce-product-template {
  gap: var(--grid-gutter);

  &:not([class*="columns-"]) {
    display: flex;
    flex-direction: column;
  }

  @for $i from 2 through 6 {
    &.columns-#{$i} {
      grid-template-columns: functions.auto-columns(#{$i}, 200px);
    }
  }
}
