.wc-block-store-notices {
  .button {
    text-decoration: underline;
    margin-left: 1ch;
  }

  &:has(.woocommerce-notices-wrapper:empty) {
    display: none;

    & + * {
      margin-top: 0;
    }
  }
}
