/* stylelint-disable selector-class-pattern */

.wp-block-add-to-cart-form {
  .input-text {
    font-size: var(--gds-input-font-size);
    padding: var(--gds-input-padding-y) var(--gds-input-padding-x);
  }

  .variations {
    margin-bottom: 0;
    width: 100%;

    th {
      vertical-align: top;
      text-align: left;

      label {
        margin-right: 10px;
      }
    }

    td label,
    th label {
      margin-top: var(--gds-input-padding-y);
    }

    tr:not(:last-child) td,
    tr:not(:last-child) th {
      padding-bottom: 10px;
    }

    select {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  [type="submit"] {
    height: var(--gds-input-height);
  }

  .woocommerce-variation-add-to-cart {
    margin-top: var(--block-gutter-s);
  }

  .woocommerce-variation-availability {
    font-size: var(--gds-body-s-font-size);
  }

  .woocommerce &.product {
    margin-bottom: var(--block-gutter-end, var(--block-gutter));
  }

  .reset_variations {
    visibility: hidden;
    font-size: var(--gds-body-s-font-size);
  }
}
