@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";

$fa-font-path: '../fonts/fontello';
// Override with fontello's character codes.
@import "../fonts/fontello/fontello";

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome.eot?#{$fontello-build-version}');
  src:
    url('#{$fa-font-path}/fontawesome.eot?#{$fontello-build-version}#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome.woff2?#{$fontello-build-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome.woff?#{$fontello-build-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome.ttf?#{$fontello-build-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome.svg?#{$fontello-build-version}#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @import "~font-awesome/scss/path";
@import "~font-awesome/scss/core";
// Fontello uses a few different names.
@import "../fonts/fontello/fontawesome-codes.css";

// Fontawesome.
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader";
