name: gdsbedrock
type: wordpress
docroot: web
php_version: "8.2"
webserver_type: nginx-fpm
router_http_port: "80"
router_https_port: "443"
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
database:
  type: mariadb
  version: "10.4"
nfs_mount_enabled: false
mutagen_enabled: false
composer_version: "2"
use_dns_when_possible: true
performance_mode: nfs
web_environment: []
#  WP_HOME=/var/www
nodejs_version: "18"
provider: default
upload_dir: web/app/uploads
