@use '~genero-design-system/src/components/gds-heading' as heading;
@use 'common/breakpoints' as *;

.content-info {
  padding: var(--gds-spacing-2xl) var(--gds-spacing-m);

  @include mq($from: large) {
    padding-top: var(--footer-gutter);
    padding-bottom: var(--footer-gutter);
    padding-left: 0;
    padding-right: 0;
  }

  .widget {
    &:not(:last-child) {
      margin-bottom: var(--gds-spacing-m);
    }

    &__title {
      margin-bottom: 0;
    }
  }

  .footer {
    max-width: var(--alignwide-width);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template:
      "logo       logo"
      "menu       contact"
      "newsletter newsletter"
      "social     social";

    @include mq($from: large) {
      grid-template:
        "logo    menu newsletter"
        "contact menu newsletter"
        "social  menu newsletter"
        / 1fr 2fr 1fr;
    }

    &__logo {
      grid-area: logo;
      margin-bottom: var(--gds-spacing-xl);
    }

    &__menu {
      grid-area: menu;
    }

    &__contact {
      grid-area: contact;
      margin-bottom: var(--gds-spacing-xl);
    }

    &__social {
      grid-area: social;
    }

    &__newsletter {
      grid-area: newsletter;
    }
  }

  .menu {
    padding-left: 0;
    list-style-type: none;

    > li {
      margin-bottom: var(--gds-spacing-m);

      > a {
        text-decoration: underline;
        @include heading.size-xs;
      }
    }

    .sub-menu {
      display: none;
    }

    @include mq($from: large) {
      column-count: 2;

      > li {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: var(--gds-spacing-xl);

        &::before {
          content: '';
          width: var(--gds-spacing-l);
          background-color: currentColor;
          height: 1px;
          display: block;
          margin-top: calc(var(--gds-heading-s-line-height) / 2 - 1px);
          margin-right: var(--gds-spacing-xs);
        }

        > a {
          text-decoration: none;
        }
      }

      .sub-menu {
        display: block;
        flex-basis: 100%;
        margin-left: calc(var(--gds-spacing-l) + var(--gds-spacing-xs));
        padding-left: var(--gds-spacing-s);
        line-height: var(--gds-spacing-l);
        list-style-type: none;
      }
    }
  }
}
