ul.page-numbers {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-top: var(--gds-spacing-m);
}

span.page-numbers,
a.page-numbers {
  padding: var(--gds-spacing-2xs) var(--gds-spacing-xs);
  display: flex;
  text-decoration: none;
}

.page-numbers.current {
  background: var(--gds-color-blue);
  color: var(--gds-color-white);
}
